/*
/*/
!/src/
!/inputs/
!/tristanVis/
!/unit/
!/user/
!.gitignore
!configure.py
!fulltest.py
!Makefile.in
!README.md
!dev-requirements.txt
!docker
!extern/
!CITATION
!LICENSE
!CMakeLists.txt
__pycache__
.vscode
extern/fprettify
extern/public

*.pyc
.DS_Store
.venv

# media files
*.png
*.jpg
*.mov
*.mp4
